
/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 350px;
  overflow: auto; /* Enable scroll if needed */
}

.item {
  padding: 5px 50px;
  display: flex;
  justify-content: space-between;
  input {
    border: 1px solid darkgrey;
  }
}
.colorItem {
  padding: 5px 33px 5px 50px;
}
/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
#btnApply{
  text-align: center;
  border: 1px solid darkgrey;
  margin: 0 auto;
  display: block;
  margin-top: 10px;
}